<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login - SecureSnap</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="auth-container">

    <h1>Welcome Back</h1>

    <p>
        Login to SecureSnap
    </p>


    <form method="POST">

        <!-- CSRF Protection -->
        <input
            type="hidden"
            name="csrf_token"
            value="{{ csrf_token() }}"
        >


        <label for="username">
            Username
        </label>

        <input
            type="text"
            id="username"
            name="username"
            required
            maxlength="80"
        >


        <label for="password">
            Password
        </label>

        <input
            type="password"
            id="password"
            name="password"
            required
        >


        <button type="submit">
            Login
        </button>

    </form>


    <p>

        Don't have an account?

        <a href="{{ url_for('register') }}">
            Create Account
        </a>

    </p>

</div>

</body>

</html>